.heading {
  height: 80px;
  display: block;
  width: 100%;
}

.heading-right {
  float: right;
  margin: 20px 30px 0 0;
}
.header-nav {
  clear: both;
}
.header .heading .username {
  font-size: 25px;
}
.counter {
  color: white;
}
